<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samimi.nusapay">

    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.READ_SMS"/> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".configuration.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".WelcomeActivity2" />
        <activity
            android:name=".TempActivity"
            android:label="@string/title_activity_temp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddSaldoActivity"
            android:label="@string/title_activity_add_saldo"
            android:parentActivityName=".TempActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samimi.nusapay.TempActivity" />
        </activity>
        <activity
            android:name=".TrfConfirmActivity"
            android:label="@string/title_activity_trf_confirm"
            android:parentActivityName=".AddSaldoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samimi.nusapay.AddSaldoActivity" />
        </activity>
        <activity
            android:name=".feature.PulsaActivity"
            android:label="@string/title_activity_pulsa"
            android:parentActivityName=".TempActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samimi.nusapay.TempActivity" />
        </activity>

        <service android:name=".services.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.InstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_menu_share" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".feature.TagihanActivity"
            android:label="@string/title_activity_tagihan"
            android:parentActivityName=".TempActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samimi.nusapay.TempActivity" />
        </activity>
        <activity
            android:name=".feature.InboxActivity"
            android:label="@string/title_activity_bayar_tagihan"
            android:parentActivityName=".TempActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samimi.nusapay.TempActivity" />

            <intent-filter>
                <action android:name="ACTIVITY_INBOX" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.CekTagihan"
            android:label="@string/title_activity_cek_tagihan"
            android:parentActivityName=".TempActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samimi.nusapay.TempActivity" />
        </activity>
        <activity
            android:name=".TokenActivity"
            android:label="@string/title_activity_token"
            android:parentActivityName=".TempActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samimi.nusapay.TempActivity" />
        </activity>
        <activity
            android:name=".feature.QuickPayActivity"
            android:label="@string/title_activity_quick_pay"
            android:parentActivityName=".TempActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samimi.nusapay.TempActivity" />
        </activity>
        <activity
            android:name=".feature.VoucherActivity"
            android:label="@string/title_activity_voucher"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samimi.nusapay.TempActivity" />
        </activity>
        <activity
            android:name=".feature.DetailHistActivity"
            android:label="@string/title_activity_paket_data"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TransactActivity"
            android:label="@string/title_activity_transact"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feature.DompetActivity"
            android:label="@string/title_activity_dompet"
            android:parentActivityName=".TempActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samimi.nusapay.TempActivity" />
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.PoinCatActivity" />
        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".HistoryActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ACTIVITY_HISTORY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".configuration.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".feature.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".TempActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.samimi.nusapay.TempActivity" />
        </activity>
        <activity
            android:name=".feature.BannedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_banned"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>